@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+Hebrew:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Noto Serif Hebrew', serif;
}

.navbar{
	display: flex;
	flex-flow: row wrap;
	height: 100px;
	background: white;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;

}

.logo{
	flex: 20%;
	margin-left: 10%;
	text-align: left;
}

.menu{
	flex: 70%;
	text-align: right;
	padding: 20px;

}

.menu a{
	color: #DF7401;
	text-decoration: none;
	font-size: 20 px;
	padding: 20px 16px;
}

.menu a:hover{
	color: #8A2908;
	border-top: 4px solid #DF7401;
}

#insta{
	border-top: none;
	margin-left: 5%;
}

#face{
	border-top: none;
	margin-right: 10%;
}

.header{
	display: flex;
	flex-flow: row wrap;
	background: white;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
}

.headline{
	margin-left: 10%;
	flex: 40%;
}

.headline h2{
	font-weight: 900px;
	font-size: 18px;
	color: #DF7401;
	padding: 10px;
	margin: 0;
}

.headline p{
	color: gray;
	text-align: left;
}

.contact-btn{
	display: inline-block;
	background: #DF7401;
	padding: 10px;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

.contact-btn:hover{
	background: #8A2908;

}

.img-headline{
	margin-right: 10%;
	flex: 40%;	
}

section{
	display: inline-block;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
	text-align: center;
}

section h2{
	width: 100%;
	font-size: 50px;
	margin: 0;
	font-family: 'Noto Serif Hebrew', serif;
	font-weight: bold;
	color: #DF7401;
}

.servicos{
	display: inline-block;
	margin-top: 5%;
}

.card{
	display: inline-block;
	width: 30%;
	padding: 20px;
	margin: 1%;
	border: 1px solid #DF7401;
	border-radius: 10px;
}

.texto-oculto{
	display: none;
}

.card:hover{
	background: #DF7401;
	color: white;
	padding: 40px;
}

.card:hover img{
	display: none;
}

.card:hover .card-text{
	display: none;
}

.card:hover .texto-oculto{
	display: block;
}

footer{
	margin-top: 100px;
	height: 400px;
	background-image: linear-gradient(180deg,#DF7401, #8A2908, black);
	text-align: center;
	border-top: 5px solid #8A2908;
	color: white;
}

.rodape{
	padding: 100px;
	font-family: 'Rajdhani', sans-serif;
;
}
